%flex {
	display: flex;
	flex-wrap: wrap;
}
%center {
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
	position: absolute;
	content: "";
}
.overlayer,
.overlayer-2 {
	position: fixed;
	inset: 0;
	background: rgba(var(--title-rgb), 0.75);
	z-index: 9;
	&:not(.active) {
		opacity: 0;
		visibility: hidden;
	}
}
.overlayer {
	@include breakpoint(xl) {
		display: none;
	}
}

.overlayer-2 {
	z-index: 9999;
}
.dark-theme {
	.overlayer,
	.overlayer-2 {
		background: rgba(var(--title-rgb), 0.25);
	}
}
