
@media print { 
    *{
        font-size: 15px!important;
        color: black!important;
    }
    
    #pos_main{
        display: none;
    } 
    .pos-user-panel{
        background: white!important;
    }
    #sale_print{
        display: block !important;
    }
    hr{
        background-color: black!important;
    }
    .text-right{
        text-align: right!important;
    }
    .print-info p{
        line-height:1.5!important; 
    }
    .invoice_no{
        font-size: 18px!important;
    }
    .barcode{
        transform: scale(0.8)!important;
    } 

    table tr td{
        padding: 5px 5px!important;
        line-height: 1.3!important; 
    }
} 

